#reports-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#reports-table td, #reports-table th {
    border: 1px solid #ddd;
    padding: 8px;
}   

#reports-table tr:nth-child(even){background-color: #f2f2f2;}
      
#reports-table tr:hover {background-color: #ddd;}
      
#reports-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}